@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="HandleAddTaskRequest" method="post">
    <div>
        <label for="DescriptionField">Описание задания:</label>
        <input name="Description" id="DescriptionField">
    </div>

    <textarea name="Text" id="Text" placeholder="Текст"></textarea> 

    <div>
        <input type="submit">
    </div>
</form>
